USE [master]
GO
/****** Object:  Database [AlumniConnect]    Script Date: 10/3/2025 12:14:16 PM ******/
CREATE DATABASE [AlumniConnect]
 CONTAINMENT = NONE
ALTER DATABASE [AlumniConnect] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlumniConnect].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlumniConnect]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[PostID] [int] NULL,
	[AuthorID] [int] NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[ParentCommentId] [int] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__Comments__C3B4DFAA19A3DE73] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CV]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Birthday] [datetime] NULL,
	[Gender] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](255) NOT NULL,
	[City] [nvarchar](255) NOT NULL,
	[Location] [nvarchar](max) NULL,
	[Language] [nvarchar](255) NOT NULL,
	[LanguageLevel] [nvarchar](255) NOT NULL,
	[MinSalary] [int] NOT NULL,
	[MaxSalary] [int] NOT NULL,
	[isDeal] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
	[DesiredJob] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[MajorId] [int] NULL,
	[AdditionalContent] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[SchoolName] [nvarchar](max) NULL,
	[Degree] [nvarchar](max) NULL,
	[FieldOfStudy] [nvarchar](max) NULL,
	[GraduationYear] [int] NULL,
	[EducationDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK__CV__3214EC07F4EB68AB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CvSkills]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CvSkills](
	[CvId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_CvSkills] PRIMARY KEY CLUSTERED 
(
	[CvId] ASC,
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducationHistory]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationHistory](
	[EduHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ReceivedAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__Educatio__63181BC1D2CF6A79] PRIMARY KEY CLUSTERED 
(
	[EduHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educations]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SchoolName] [nvarchar](max) NOT NULL,
	[Major] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[SchoolWebsite] [nvarchar](max) NOT NULL,
	[Achievements] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
	[LogoUrl] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Educations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmploymentHistories]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmploymentHistories](
	[EmploymentHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[CvId] [int] NOT NULL,
	[CompanyName] [nvarchar](255) NOT NULL,
	[PrimaryDuties] [nvarchar](255) NOT NULL,
	[JobLevel] [nvarchar](255) NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsCurrentJob] [bit] NOT NULL,
 CONSTRAINT [PK_EmploymentHistories] PRIMARY KEY CLUSTERED 
(
	[EmploymentHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](255) NOT NULL,
	[Img] [text] NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](255) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Location] [nvarchar](max) NULL,
	[Speaker] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
	[OrganizerId] [int] NULL,
	[MajorId] [int] NULL,
 CONSTRAINT [PK__Events__7944C870B1F118B4] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventTimeLines]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventTimeLines](
	[EventTimeLineId] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Speaker] [nvarchar](max) NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Day] [datetime2](7) NULL,
 CONSTRAINT [PK_EventTimeLines] PRIMARY KEY CLUSTERED 
(
	[EventTimeLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupChat]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupChat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](255) NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__GroupCha__3214EC071C62797A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupChatMembers]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupChatMembers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GroupChatId] [int] NULL,
	[UserId] [int] NULL,
	[IsOwner] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__GroupCha__3214EC2776D442E0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobApplications]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobApplications](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[JobPostID] [int] NULL,
	[CVID] [int] NULL,
	[LetterCover] [nvarchar](max) NULL,
	[Status] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__JobAppli__C93A4F795EC7C027] PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobPost]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobPost](
	[JobPostID] [int] IDENTITY(1,1) NOT NULL,
	[JobDescription] [nvarchar](max) NOT NULL,
	[JobTitle] [nvarchar](255) NOT NULL,
	[Location] [nvarchar](255) NULL,
	[City] [nvarchar](max) NULL,
	[MinSalary] [int] NULL,
	[MaxSalary] [int] NULL,
	[IsDeal] [bit] NOT NULL,
	[RecruitmentQuantity] [int] NULL,
	[WorkType] [nvarchar](max) NULL,
	[WorkHours] [nvarchar](max) NULL,
	[Requirements] [nvarchar](max) NULL,
	[Benefits] [nvarchar](max) NULL,
	[Time] [datetime] NOT NULL,
	[Status] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[UserID] [int] NULL,
	[MajorID] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__JobPost__57689C5A3E8D6828] PRIMARY KEY CLUSTERED 
(
	[JobPostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobPostSkills]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobPostSkills](
	[JobPostId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_JobPostSkills] PRIMARY KEY CLUSTERED 
(
	[JobPostId] ASC,
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MajorCode]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MajorCode](
	[MajorId] [int] IDENTITY(1,1) NOT NULL,
	[MajorName] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__MajorCod__D5B8BF91CFCD90DF] PRIMARY KEY CLUSTERED 
(
	[MajorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mentorship]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mentorship](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AumniID] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[RequestMessage] [nvarchar](max) NULL,
	[Status] [nvarchar](255) NULL,
	[ResultMessage] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__Mentorsh__3214EC276D8E333E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageGroupChat]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageGroupChat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__MessageG__3214EC278ACF2846] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationSettings]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationSettings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ReceiveEmailNotifications] [bit] NULL,
	[ReceiveInAppNotifications] [bit] NULL,
	[JobNotifications] [bit] NULL,
	[MessageNotifications] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__Notifica__3213E83F452FF6A1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostReports]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostReports](
	[RpID] [int] IDENTITY(1,1) NOT NULL,
	[PostID] [int] NULL,
	[UserID] [int] NULL,
	[TypeOfReport] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__PostRepo__DBD62899743C565C] PRIMARY KEY CLUSTERED 
(
	[RpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorID] [int] NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Views] [int] NULL,
	[MajorId] [int] NULL,
	[Status] [nvarchar](255) NOT NULL,
	[IsPrivate] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__Posts__AA1260383844026D] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrivacySetting]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrivacySetting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[VisibleToEducationHistory] [bit] NULL,
	[VisibleToMajor] [bit] NULL,
	[VisibleToEmail] [bit] NULL,
	[VisibleToAlumni] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__PrivacyS__3213E83F8BE3191C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecruiterInfo]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecruiterInfo](
	[RecruiterInfoID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CompanyName] [nvarchar](255) NULL,
	[CompanyEmail] [nvarchar](255) NULL,
	[CompanyPhone] [nvarchar](50) NULL,
	[CompanyLogoUrl] [nvarchar](max) NULL,
	[CompanyCertificateUrl] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_RecruiterInfo] PRIMARY KEY CLUSTERED 
(
	[RecruiterInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Role__8AFACE3A0E2F5438] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[MentorShipID] [int] NULL,
	[MentorID] [int] NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Status] [nvarchar](255) NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__Schedule__9C8A5B69F957490C] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoicalLink]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoicalLink](
	[SLID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Link] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__SoicalLi__A43D35CFADE62797] PRIMARY KEY CLUSTERED 
(
	[SLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpMajorCode]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpMajorCode](
	[SpMajorId] [int] IDENTITY(1,1) NOT NULL,
	[MajorId] [int] NULL,
	[MajorName] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__SpMajorC__181F8B5D69DA480D] PRIMARY KEY CLUSTERED 
(
	[SpMajorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagJob]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagJob](
	[TagJobId] [int] IDENTITY(1,1) NOT NULL,
	[Tag] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
	[CvID] [int] NULL,
 CONSTRAINT [PK_TagJob] PRIMARY KEY CLUSTERED 
(
	[TagJobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserJoinEvent]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserJoinEvent](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[EventID] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Rating] [int] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__UserJoin__3214EC2704503508] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[LastName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[EmailVerified] [bit] NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[ProfilePicture] [text] NULL,
	[RoleID] [int] NOT NULL,
	[MajorId] [int] NULL,
	[GoogleID] [nvarchar](max) NULL,
	[MentorStatus] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__Users__1788CCAC5DE5B589] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkExperiences]    Script Date: 10/3/2025 12:14:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkExperiences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](max) NOT NULL,
	[Position] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[CompanyWebsite] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
	[LogoUrl] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_WorkExperiences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [PostID], [AuthorID], [Content], [Status], [CreatedAt], [UpdatedAt], [ParentCommentId], [CreatedBy], [UpdatedBy]) VALUES (1, 4, 2, N'Bài viết rất hay!', 1, CAST(N'2025-07-12T16:41:07.353' AS DateTime), CAST(N'2025-07-12T16:41:07.353' AS DateTime), NULL, N'Admin', N'Admin')
INSERT [dbo].[Comments] ([CommentID], [PostID], [AuthorID], [Content], [Status], [CreatedAt], [UpdatedAt], [ParentCommentId], [CreatedBy], [UpdatedBy]) VALUES (2, 4, 3, N'Tôi rất đồng ý với ý kiến của bạn.', 1, CAST(N'2025-07-12T16:41:07.353' AS DateTime), CAST(N'2025-07-12T16:41:07.353' AS DateTime), 1, N'UserA', N'UserA')
INSERT [dbo].[Comments] ([CommentID], [PostID], [AuthorID], [Content], [Status], [CreatedAt], [UpdatedAt], [ParentCommentId], [CreatedBy], [UpdatedBy]) VALUES (3, 3, 2, N'Thật tuyệt vời!', 1, CAST(N'2025-07-13T03:19:32.243' AS DateTime), CAST(N'2025-07-13T03:19:32.243' AS DateTime), NULL, N'UserB', N'UserB')
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[CV] ON 

SET IDENTITY_INSERT [dbo].[CV] OFF
GO
INSERT [dbo].[CvSkills] ([CvId], [SkillId], [CreatedAt], [UpdatedAt]) VALUES (1, 8, CAST(N'2025-07-12T23:11:11.977' AS DateTime), CAST(N'2025-07-12T23:11:11.977' AS DateTime))
INSERT [dbo].[CvSkills] ([CvId], [SkillId], [CreatedAt], [UpdatedAt]) VALUES (2, 7, CAST(N'2025-07-12T23:11:11.977' AS DateTime), CAST(N'2025-07-12T23:11:11.977' AS DateTime))
INSERT [dbo].[CvSkills] ([CvId], [SkillId], [CreatedAt], [UpdatedAt]) VALUES (3, 1, CAST(N'2025-07-12T23:11:11.977' AS DateTime), CAST(N'2025-07-12T23:11:11.977' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[EducationHistory] ON 

INSERT [dbo].[EducationHistory] ([EduHistoryID], [IDUser], [Name], [ReceivedAt], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (1, 1, N'FPT University', CAST(N'2023-05-01T00:00:00.000' AS DateTime), CAST(N'2025-07-12T16:40:11.317' AS DateTime), CAST(N'2025-07-12T16:40:11.317' AS DateTime), N'6', N'6')
INSERT [dbo].[EducationHistory] ([EduHistoryID], [IDUser], [Name], [ReceivedAt], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (2, 1, N'Hanoi University of Science and Technology', CAST(N'2022-12-01T00:00:00.000' AS DateTime), CAST(N'2025-07-12T16:40:11.317' AS DateTime), CAST(N'2025-07-12T16:40:11.317' AS DateTime), N'7', N'7')
INSERT [dbo].[EducationHistory] ([EduHistoryID], [IDUser], [Name], [ReceivedAt], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (3, 1, N'Sinh viên giỏi học kỳ Fall 2020', CAST(N'2020-12-30T00:00:00.000' AS DateTime), CAST(N'2025-07-25T21:49:24.397' AS DateTime), CAST(N'2025-07-25T21:49:24.397' AS DateTime), N'system', N'system')
SET IDENTITY_INSERT [dbo].[EducationHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[EmploymentHistories] ON 

INSERT [dbo].[EmploymentHistories] ([EmploymentHistoryId], [CvId], [CompanyName], [PrimaryDuties], [JobLevel], [StartDate], [EndDate], [IsCurrentJob]) VALUES (1, 1, N'Công ty FPT Software', N'Phát triển phần mềm quản lý doanh nghiệp', N'Nhân viên', CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2020-06-30T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[EmploymentHistories] ([EmploymentHistoryId], [CvId], [CompanyName], [PrimaryDuties], [JobLevel], [StartDate], [EndDate], [IsCurrentJob]) VALUES (2, 1, N'Công ty Viettel', N'Quản trị hệ thống mạng nội bộ', N'Chuyên viên', CAST(N'2020-07-01T00:00:00.000' AS DateTime), CAST(N'2022-12-31T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[EmploymentHistories] ([EmploymentHistoryId], [CvId], [CompanyName], [PrimaryDuties], [JobLevel], [StartDate], [EndDate], [IsCurrentJob]) VALUES (3, 1, N'Công ty VNG', N'Xây dựng và bảo trì hệ thống cloud', N'Trưởng nhóm', CAST(N'2023-01-01T00:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[EmploymentHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([EventID], [EventName], [Img], [Description], [Status], [StartDate], [EndDate], [Location], [Speaker], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [OrganizerId], [MajorId]) VALUES (3, N'Networking Event', N'https://placehold.co/1200x600/EFEFEF/AAAAAA&text=Event+3+Image', N'An event to connect alumni and students.', N'Active', CAST(N'2025-07-30T03:00:00.000' AS DateTime), CAST(N'2025-07-30T03:00:00.000' AS DateTime), N'City Convention Center', NULL, CAST(N'2025-07-12T16:40:11.313' AS DateTime), CAST(N'2025-07-25T21:32:48.317' AS DateTime), N'1', NULL, 1, 15)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[EventTimeLines] ON 

INSERT [dbo].[EventTimeLines] ([EventTimeLineId], [EventId], [Title], [Description], [Speaker], [StartTime], [EndTime], [Day]) VALUES (1, 1, N'Opening Ceremony', N'Welcome and introduction to the theme 5 Seasons', N'TS. Nguyễn Văn A', CAST(N'08:00:00' AS Time), CAST(N'08:30:00' AS Time), CAST(N'2025-09-20T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[EventTimeLines] ([EventTimeLineId], [EventId], [Title], [Description], [Speaker], [StartTime], [EndTime], [Day]) VALUES (2, 2, N'Inspirational Talks', N'Talks from speakers about technology, innovation, and creativity', N'Ông Trần Bảo Minh', CAST(N'08:30:00' AS Time), CAST(N'09:00:00' AS Time), CAST(N'2025-09-20T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[EventTimeLines] ([EventTimeLineId], [EventId], [Title], [Description], [Speaker], [StartTime], [EndTime], [Day]) VALUES (3, 3, N'5 Seasons Exhibition Tour', N'Explore the unique 5 Seasons exhibition', N'Ban Tổ Chức', CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time), CAST(N'2025-09-20T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[EventTimeLines] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupChat] ON 

INSERT [dbo].[GroupChat] ([Id], [RoomName], [CreatedBy], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1, N'Câu lạc bộ CNTT', 1, CAST(N'2025-07-12T16:40:11.317' AS DateTime), CAST(N'2025-07-12T16:40:11.317' AS DateTime), N'6')
INSERT [dbo].[GroupChat] ([Id], [RoomName], [CreatedBy], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (2, N'Nhóm thảo luận sự kiện', 2, CAST(N'2025-07-12T16:40:11.317' AS DateTime), CAST(N'2025-07-12T16:40:11.317' AS DateTime), N'8')
SET IDENTITY_INSERT [dbo].[GroupChat] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupChatMembers] ON 

INSERT [dbo].[GroupChatMembers] ([ID], [GroupChatId], [UserId], [IsOwner], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (1, 1, 1, 1, CAST(N'2025-07-25T17:59:38.657' AS DateTime), CAST(N'2025-07-25T17:59:38.657' AS DateTime), NULL, NULL)
INSERT [dbo].[GroupChatMembers] ([ID], [GroupChatId], [UserId], [IsOwner], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (2, 1, 2, 0, CAST(N'2025-07-25T17:59:38.660' AS DateTime), CAST(N'2025-07-25T17:59:38.660' AS DateTime), NULL, NULL)
INSERT [dbo].[GroupChatMembers] ([ID], [GroupChatId], [UserId], [IsOwner], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (3, 1, 3, 0, CAST(N'2025-07-25T17:59:38.660' AS DateTime), CAST(N'2025-07-25T17:59:38.660' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[GroupChatMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[JobApplications] ON 

INSERT [dbo].[JobApplications] ([ApplicationID], [JobPostID], [CVID], [LetterCover], [Status], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (1, 2, 6, N'Đơn xin việc làm', N'Pending', CAST(N'2025-07-07T14:57:55.130' AS DateTime), CAST(N'2025-07-07T14:57:55.130' AS DateTime), NULL, NULL)
INSERT [dbo].[JobApplications] ([ApplicationID], [JobPostID], [CVID], [LetterCover], [Status], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (2, 1, 1, N'Đơn xin việc làm', N'Approved', CAST(N'2025-07-08T06:24:26.623' AS DateTime), CAST(N'2025-07-08T06:24:26.623' AS DateTime), NULL, NULL)
INSERT [dbo].[JobApplications] ([ApplicationID], [JobPostID], [CVID], [LetterCover], [Status], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (3, 1, 1, N'Tôi rất quan tâm đến vị trí này và mong muốn được cống hiến.', N'Pending', CAST(N'2025-07-25T21:44:57.117' AS DateTime), CAST(N'2025-07-25T21:44:57.117' AS DateTime), N'system', N'system')
SET IDENTITY_INSERT [dbo].[JobApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[JobPost] ON 

SET IDENTITY_INSERT [dbo].[JobPost] OFF
GO
INSERT [dbo].[JobPostSkills] ([JobPostId], [SkillId], [CreatedAt], [UpdatedAt]) VALUES (1, 1, CAST(N'2025-07-12T23:11:11.977' AS DateTime), CAST(N'2025-07-12T23:11:11.977' AS DateTime))
INSERT [dbo].[JobPostSkills] ([JobPostId], [SkillId], [CreatedAt], [UpdatedAt]) VALUES (1, 8, CAST(N'2025-07-12T23:11:11.977' AS DateTime), CAST(N'2025-07-12T23:11:11.977' AS DateTime))
INSERT [dbo].[JobPostSkills] ([JobPostId], [SkillId], [CreatedAt], [UpdatedAt]) VALUES (1, 9, CAST(N'2025-07-12T23:11:11.977' AS DateTime), CAST(N'2025-07-12T23:11:11.977' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[MajorCode] ON 

INSERT [dbo].[MajorCode] ([MajorId], [MajorName], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (1, N'An toàn thông tin', CAST(N'2025-07-25T17:59:38.657' AS DateTime), CAST(N'2025-07-25T17:59:38.657' AS DateTime), N'admin', NULL)
INSERT [dbo].[MajorCode] ([MajorId], [MajorName], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (2, N'Công nghệ ô tô số', CAST(N'2025-07-25T17:59:38.657' AS DateTime), CAST(N'2025-07-25T17:59:38.657' AS DateTime), N'admin', NULL)
INSERT [dbo].[MajorCode] ([MajorId], [MajorName], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (3, N'Kỹ thuật phần mềm', CAST(N'2025-07-25T17:59:38.657' AS DateTime), CAST(N'2025-07-25T17:59:38.657' AS DateTime), N'admin', NULL)
SET IDENTITY_INSERT [dbo].[MajorCode] OFF
GO
SET IDENTITY_INSERT [dbo].[Mentorship] ON 

INSERT [dbo].[Mentorship] ([ID], [AumniID], [CreatedAt], [RequestMessage], [Status], [ResultMessage], [CreatedBy], [UpdatedBy]) VALUES (1, 1, CAST(N'2025-07-12T16:40:11.320' AS DateTime), N'Mong muốn được mentor về kỹ năng lập trình nâng cao', N'Active', NULL, N'Admin', N'Admin')
INSERT [dbo].[Mentorship] ([ID], [AumniID], [CreatedAt], [RequestMessage], [Status], [ResultMessage], [CreatedBy], [UpdatedBy]) VALUES (2, 2, CAST(N'2025-07-12T16:40:11.320' AS DateTime), N'Xin lời khuyên để cải thiện kỹ năng lãnh đạo', N'Cancelled', NULL, N'Admin', N'System')
INSERT [dbo].[Mentorship] ([ID], [AumniID], [CreatedAt], [RequestMessage], [Status], [ResultMessage], [CreatedBy], [UpdatedBy]) VALUES (3, 3, CAST(N'2025-07-12T16:40:11.320' AS DateTime), N'Chia sẻ kinh nghiệm khởi nghiệp', N'Cancelled', NULL, N'Admin', N'Admin')
SET IDENTITY_INSERT [dbo].[Mentorship] OFF
GO
SET IDENTITY_INSERT [dbo].[MessageGroupChat] ON 

INSERT [dbo].[MessageGroupChat] ([ID], [MemberId], [Content], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (1, 1, N'Chào mọi người, mình là thành viên mới!', CAST(N'2025-07-25T18:45:48.027' AS DateTime), CAST(N'2025-07-25T18:45:48.027' AS DateTime), NULL, NULL)
INSERT [dbo].[MessageGroupChat] ([ID], [MemberId], [Content], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (2, 2, N'Mọi người ơi, mai có họp nhóm không?', CAST(N'2025-07-25T18:45:48.037' AS DateTime), CAST(N'2025-07-25T18:45:48.037' AS DateTime), NULL, NULL)
INSERT [dbo].[MessageGroupChat] ([ID], [MemberId], [Content], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (3, 3, N'Mình đã cập nhật tài liệu, mọi người kiểm tra giúp nhé.', CAST(N'2025-07-25T18:45:48.037' AS DateTime), CAST(N'2025-07-25T18:45:48.037' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[MessageGroupChat] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [UserId], [Message], [Timestamp], [IsRead]) VALUES (1, 5, N'Phạm đã bình luận vào bài viết của bạn: Cơ hội nghề nghiệp ngành CNTT', CAST(N'2025-07-26T16:48:38.6445002' AS DateTime2), 0)
INSERT [dbo].[Notifications] ([Id], [UserId], [Message], [Timestamp], [IsRead]) VALUES (2, 5, N'Rec đã bình luận vào bài viết của bạn: Cơ hội nghề nghiệp ngành CNTT', CAST(N'2025-07-26T16:49:14.2441624' AS DateTime2), 0)
INSERT [dbo].[Notifications] ([Id], [UserId], [Message], [Timestamp], [IsRead]) VALUES (3, 5, N'John đã bình luận vào bài viết của bạn: Cơ hội nghề nghiệp ngành CNTT', CAST(N'2025-07-26T16:52:25.5598547' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[NotificationSettings] ON 

INSERT [dbo].[NotificationSettings] ([id], [UserId], [ReceiveEmailNotifications], [ReceiveInAppNotifications], [JobNotifications], [MessageNotifications], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (3, 1, 1, 1, 1, 1, CAST(N'2025-07-12T16:40:11.320' AS DateTime), CAST(N'2025-07-12T16:40:11.320' AS DateTime), N'Admin', N'Admin')
INSERT [dbo].[NotificationSettings] ([id], [UserId], [ReceiveEmailNotifications], [ReceiveInAppNotifications], [JobNotifications], [MessageNotifications], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (4, 2, 1, 0, 1, 0, CAST(N'2025-07-12T16:40:11.320' AS DateTime), CAST(N'2025-07-12T16:40:11.320' AS DateTime), N'Admin', N'Admin')
INSERT [dbo].[NotificationSettings] ([id], [UserId], [ReceiveEmailNotifications], [ReceiveInAppNotifications], [JobNotifications], [MessageNotifications], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (5, 3, 0, 1, 0, 1, CAST(N'2025-07-12T16:40:11.320' AS DateTime), CAST(N'2025-07-12T16:40:11.320' AS DateTime), N'Admin', N'Admin')
SET IDENTITY_INSERT [dbo].[NotificationSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[PostReports] ON 

INSERT [dbo].[PostReports] ([RpID], [PostID], [UserID], [TypeOfReport], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (1, 1, 1, N'Spam', CAST(N'2025-07-25T17:59:38.743' AS DateTime), CAST(N'2025-07-25T17:59:38.743' AS DateTime), NULL, NULL)
INSERT [dbo].[PostReports] ([RpID], [PostID], [UserID], [TypeOfReport], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (2, 2, 3, N'Inappropriate', CAST(N'2025-07-25T17:59:38.743' AS DateTime), CAST(N'2025-07-25T17:59:38.743' AS DateTime), NULL, NULL)
INSERT [dbo].[PostReports] ([RpID], [PostID], [UserID], [TypeOfReport], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (3, 3, 5, N'Harassment', CAST(N'2025-07-25T17:59:38.743' AS DateTime), CAST(N'2025-07-25T17:59:38.743' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[PostReports] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([PostID], [AuthorID], [Content], [Title], [Views], [MajorId], [Status], [IsPrivate], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (1, 1, N'Bài viết về cơ hội nghề nghiệp trong ngành CNTT.', N'Cơ hội nghề nghiệp ngành CNTT', 150, 1, N'Published', 0, CAST(N'2025-07-12T16:40:11.317' AS DateTime), CAST(N'2025-07-12T16:40:11.317' AS DateTime), N'UserA', N'UserA')
INSERT [dbo].[Posts] ([PostID], [AuthorID], [Content], [Title], [Views], [MajorId], [Status], [IsPrivate], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (2, 2, N'Chia sẻ về các phương pháp bảo mật mạng và bảo vệ dữ liệu cá nhân.', N'Bảo mật thông tin thời đại số', 220, 1, N'Published', 0, CAST(N'2025-07-13T10:15:00.000' AS DateTime), CAST(N'2025-07-13T10:15:00.000' AS DateTime), N'UserB', N'UserB')
INSERT [dbo].[Posts] ([PostID], [AuthorID], [Content], [Title], [Views], [MajorId], [Status], [IsPrivate], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (3, 3, N'Giới thiệu công nghệ xe điện và xu hướng ô tô thông minh.', N'Công nghệ ô tô số 2025', 180, 2, N'Draft', 1, CAST(N'2025-07-14T11:20:00.000' AS DateTime), CAST(N'2025-07-14T11:20:00.000' AS DateTime), N'UserC', N'UserC')
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[PrivacySetting] ON 

INSERT [dbo].[PrivacySetting] ([id], [UserId], [VisibleToEducationHistory], [VisibleToMajor], [VisibleToEmail], [VisibleToAlumni], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (1, 1, 1, 1, 0, 1, CAST(N'2025-07-12T16:40:11.317' AS DateTime), CAST(N'2025-07-12T16:40:11.317' AS DateTime), N'5', N'5')
INSERT [dbo].[PrivacySetting] ([id], [UserId], [VisibleToEducationHistory], [VisibleToMajor], [VisibleToEmail], [VisibleToAlumni], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (2, 2, 1, 1, 1, 0, CAST(N'2025-07-12T16:40:11.317' AS DateTime), CAST(N'2025-07-12T16:40:11.317' AS DateTime), N'6', N'6')
SET IDENTITY_INSERT [dbo].[PrivacySetting] OFF
GO
SET IDENTITY_INSERT [dbo].[RecruiterInfo] ON 

INSERT [dbo].[RecruiterInfo] ([RecruiterInfoID], [UserID], [CompanyName], [CompanyEmail], [CompanyPhone], [CompanyLogoUrl], [CompanyCertificateUrl], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, 52, N'VNG Corporation', N'recruitment@vng.com.vn', N'+84 28 5412 7999', N'https://company-logos.com/vng-corp.png', N'https://certificates.com/vng-corp-cert.pdf', N'Active', CAST(N'2025-07-25T21:14:39.547' AS DateTime), CAST(N'2025-10-03T12:02:06.690' AS DateTime))
INSERT [dbo].[RecruiterInfo] ([RecruiterInfoID], [UserID], [CompanyName], [CompanyEmail], [CompanyPhone], [CompanyLogoUrl], [CompanyCertificateUrl], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, 53, N'Tiki Corporation', N'careers@tiki.vn', N'+84 28 7300 6200', N'https://company-logos.com/tiki.png', N'https://certificates.com/tiki-cert.pdf', N'Active', CAST(N'2025-07-25T21:14:39.547' AS DateTime), CAST(N'2025-10-03T12:02:06.690' AS DateTime))
SET IDENTITY_INSERT [dbo].[RecruiterInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (2, N'Alumni')
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (3, N'Student')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([ScheduleID], [MentorShipID], [MentorID], [StartTime], [EndTime], [Content], [Status], [Rating], [Comment], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (1, 3, 1, CAST(N'2025-07-12T10:00:00.000' AS DateTime), CAST(N'2025-07-12T11:00:00.000' AS DateTime), N'Networking tips and strategies', N'Completed', NULL, NULL, CAST(N'2025-07-12T16:40:11.320' AS DateTime), CAST(N'2025-07-12T16:40:11.320' AS DateTime), N'Mentor1', N'Mentor1')
INSERT [dbo].[Schedule] ([ScheduleID], [MentorShipID], [MentorID], [StartTime], [EndTime], [Content], [Status], [Rating], [Comment], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (2, 4, 2, CAST(N'2025-07-13T13:00:00.000' AS DateTime), CAST(N'2025-07-13T14:30:00.000' AS DateTime), N'Interview preparation', N'Active', NULL, NULL, CAST(N'2025-07-12T16:40:11.320' AS DateTime), CAST(N'2025-07-12T16:40:11.320' AS DateTime), N'Mentor3', N'Mentor3')
INSERT [dbo].[Schedule] ([ScheduleID], [MentorShipID], [MentorID], [StartTime], [EndTime], [Content], [Status], [Rating], [Comment], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (3, 5, 3, CAST(N'2025-07-14T15:00:00.000' AS DateTime), CAST(N'2025-07-14T16:30:00.000' AS DateTime), N'Industry insights and trends', N'Failed', NULL, N'Session was canceled due to scheduling conflict.', CAST(N'2025-07-12T16:40:11.320' AS DateTime), CAST(N'2025-07-12T16:40:11.320' AS DateTime), N'Mentor4', N'Mentor4')
SET IDENTITY_INSERT [dbo].[Schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([SkillId], [Name], [CreatedAt], [UpdatedAt]) VALUES (1, N'Project Management', CAST(N'2025-07-12T23:11:11.977' AS DateTime), CAST(N'2025-07-12T23:11:11.977' AS DateTime))
INSERT [dbo].[Skills] ([SkillId], [Name], [CreatedAt], [UpdatedAt]) VALUES (2, N'Marketing Strategy', CAST(N'2025-07-12T23:11:11.977' AS DateTime), CAST(N'2025-07-12T23:11:11.977' AS DateTime))
INSERT [dbo].[Skills] ([SkillId], [Name], [CreatedAt], [UpdatedAt]) VALUES (3, N'Sales', CAST(N'2025-07-12T23:11:11.977' AS DateTime), CAST(N'2025-07-12T23:11:11.977' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Skills] OFF
GO
SET IDENTITY_INSERT [dbo].[SoicalLink] ON 

INSERT [dbo].[SoicalLink] ([SLID], [UserID], [Link], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (1, 1, N'https://www.youtube.com/user2', CAST(N'2025-07-12T23:32:33.553' AS DateTime), CAST(N'2025-07-12T23:36:07.660' AS DateTime), N'Admin', NULL)
INSERT [dbo].[SoicalLink] ([SLID], [UserID], [Link], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (2, 2, N'https://www.facebook.com/user2', CAST(N'2025-07-12T23:32:33.553' AS DateTime), CAST(N'2025-07-12T23:32:33.553' AS DateTime), N'Admin', N'Admin')
INSERT [dbo].[SoicalLink] ([SLID], [UserID], [Link], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (3, 3, N'https://www.twitter.com/user3', CAST(N'2025-07-12T23:32:33.553' AS DateTime), CAST(N'2025-07-12T23:32:33.553' AS DateTime), N'Admin', N'Admin')
SET IDENTITY_INSERT [dbo].[SoicalLink] OFF
GO
SET IDENTITY_INSERT [dbo].[SpMajorCode] ON 

INSERT [dbo].[SpMajorCode] ([SpMajorId], [MajorId], [MajorName], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (1, 1, N'Công nghệ thông tin', CAST(N'2025-07-25T17:59:38.657' AS DateTime), CAST(N'2025-07-25T17:59:38.657' AS DateTime), N'Admin', N'Admin')
INSERT [dbo].[SpMajorCode] ([SpMajorId], [MajorId], [MajorName], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (2, 2, N'Khoa học dữ liệu', CAST(N'2025-07-25T17:59:38.657' AS DateTime), CAST(N'2025-07-25T17:59:38.657' AS DateTime), N'Admin', N'Admin')
INSERT [dbo].[SpMajorCode] ([SpMajorId], [MajorId], [MajorName], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (3, 3, N'Kỹ thuật phần mềm', CAST(N'2025-07-25T17:59:38.657' AS DateTime), CAST(N'2025-07-25T17:59:38.657' AS DateTime), N'Admin', N'Admin')
SET IDENTITY_INSERT [dbo].[SpMajorCode] OFF
GO
SET IDENTITY_INSERT [dbo].[UserJoinEvent] ON 

INSERT [dbo].[UserJoinEvent] ([ID], [UserID], [EventID], [Content], [CreatedAt], [UpdatedAt], [Rating], [CreatedBy], [UpdatedBy]) VALUES (1, 1, 2, N'Looking forward to this event.', CAST(N'2025-07-12T16:41:43.127' AS DateTime), NULL, 5, N'admin', NULL)
INSERT [dbo].[UserJoinEvent] ([ID], [UserID], [EventID], [Content], [CreatedAt], [UpdatedAt], [Rating], [CreatedBy], [UpdatedBy]) VALUES (2, 2, 3, N'Excited to connect with alumni!', CAST(N'2025-07-12T16:41:43.127' AS DateTime), NULL, 4, N'admin', NULL)
INSERT [dbo].[UserJoinEvent] ([ID], [UserID], [EventID], [Content], [CreatedAt], [UpdatedAt], [Rating], [CreatedBy], [UpdatedBy]) VALUES (3, 3, 4, N'I hope to gain valuable insights.', CAST(N'2025-07-12T16:41:43.127' AS DateTime), NULL, NULL, N'admin', NULL)
SET IDENTITY_INSERT [dbo].[UserJoinEvent] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Code], [FirstName], [LastName], [Email], [EmailVerified], [PasswordHash], [ProfilePicture], [RoleID], [MajorId], [GoogleID], [MentorStatus], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (1, N'K6', N'Nguyễn', N'Văn Minh', N'minh.alumni@example.com', 1, N'123456', N'https://i.pinimg.com/736x/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg', 2, 1, NULL, N'Suspended', CAST(N'2025-06-25T17:59:38.657' AS DateTime), CAST(N'2025-10-03T11:48:19.300' AS DateTime), N'admin', N'System')
INSERT [dbo].[Users] ([UserID], [Code], [FirstName], [LastName], [Email], [EmailVerified], [PasswordHash], [ProfilePicture], [RoleID], [MajorId], [GoogleID], [MentorStatus], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (2, N'K9', N'Trần', N'Thị Lan', N'lan.alumni@example.com', 1, N'123456', N'https://cdn-icons-png.flaticon.com/512/219/219969.png', 2, 2, NULL, N'Suspended', CAST(N'2025-06-25T17:59:38.657' AS DateTime), CAST(N'2025-10-03T11:48:19.300' AS DateTime), N'admin', N'System')
INSERT [dbo].[Users] ([UserID], [Code], [FirstName], [LastName], [Email], [EmailVerified], [PasswordHash], [ProfilePicture], [RoleID], [MajorId], [GoogleID], [MentorStatus], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy]) VALUES (3, N'K7', N'Lê', N'Hoàng Anh', N'anh.alumni@example.com', 1, N'123456', N'https://static.vecteezy.com/system/resources/thumbnails/000/439/863/small/Basic_Ui__28186_29.jpg', 2, 3, N'google12345', N'Suspended', CAST(N'2025-06-25T17:59:38.657' AS DateTime), CAST(N'2025-10-03T11:48:19.300' AS DateTime), N'admin', N'System')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Comments_AuthorID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_AuthorID] ON [dbo].[Comments]
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_PostID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_PostID] ON [dbo].[Comments]
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CV_MajorId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_CV_MajorId] ON [dbo].[CV]
(
	[MajorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CV_UserID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_CV_UserID] ON [dbo].[CV]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CvSkills_CvId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_CvSkills_CvId] ON [dbo].[CvSkills]
(
	[CvId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CvSkills_SkillId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_CvSkills_SkillId] ON [dbo].[CvSkills]
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EducationHistory_IDUser]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_EducationHistory_IDUser] ON [dbo].[EducationHistory]
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Educations_UserId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Educations_UserId] ON [dbo].[Educations]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmploymentHistories_CvId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmploymentHistories_CvId] ON [dbo].[EmploymentHistories]
(
	[CvId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmploymentHistories_IsCurrentJob]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmploymentHistories_IsCurrentJob] ON [dbo].[EmploymentHistories]
(
	[IsCurrentJob] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Events_MajorId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Events_MajorId] ON [dbo].[Events]
(
	[MajorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Events_OrganizerId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Events_OrganizerId] ON [dbo].[Events]
(
	[OrganizerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventTimeLines_EventId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventTimeLines_EventId] ON [dbo].[EventTimeLines]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupChat_CreatedBy]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_GroupChat_CreatedBy] ON [dbo].[GroupChat]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupChatMembers_GroupChatId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_GroupChatMembers_GroupChatId] ON [dbo].[GroupChatMembers]
(
	[GroupChatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupChatMembers_UserId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_GroupChatMembers_UserId] ON [dbo].[GroupChatMembers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobApplications_CVID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_JobApplications_CVID] ON [dbo].[JobApplications]
(
	[CVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobApplications_JobPostID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_JobApplications_JobPostID] ON [dbo].[JobApplications]
(
	[JobPostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobPost_MajorID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_JobPost_MajorID] ON [dbo].[JobPost]
(
	[MajorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobPost_UserID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_JobPost_UserID] ON [dbo].[JobPost]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobPostSkills_SkillId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_JobPostSkills_SkillId] ON [dbo].[JobPostSkills]
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mentorship_AumniID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Mentorship_AumniID] ON [dbo].[Mentorship]
(
	[AumniID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MessageGroupChat_MemberId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_MessageGroupChat_MemberId] ON [dbo].[MessageGroupChat]
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NotificationSettings_UserId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_NotificationSettings_UserId] ON [dbo].[NotificationSettings]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostReports_PostID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_PostReports_PostID] ON [dbo].[PostReports]
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostReports_UserID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_PostReports_UserID] ON [dbo].[PostReports]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Posts_AuthorID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Posts_AuthorID] ON [dbo].[Posts]
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Posts_MajorId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Posts_MajorId] ON [dbo].[Posts]
(
	[MajorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrivacySetting_UserId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_PrivacySetting_UserId] ON [dbo].[PrivacySetting]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecruiterInfo_UserID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RecruiterInfo_UserID] ON [dbo].[RecruiterInfo]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Schedule_MentorID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Schedule_MentorID] ON [dbo].[Schedule]
(
	[MentorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Schedule_MentorShipID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Schedule_MentorShipID] ON [dbo].[Schedule]
(
	[MentorShipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SoicalLink_UserID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_SoicalLink_UserID] ON [dbo].[SoicalLink]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SpMajorCode_MajorId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_SpMajorCode_MajorId] ON [dbo].[SpMajorCode]
(
	[MajorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TagJob_CvID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_TagJob_CvID] ON [dbo].[TagJob]
(
	[CvID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserJoinEvent_EventID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserJoinEvent_EventID] ON [dbo].[UserJoinEvent]
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserJoinEvent_UserID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserJoinEvent_UserID] ON [dbo].[UserJoinEvent]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_MajorId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_MajorId] ON [dbo].[Users]
(
	[MajorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleID]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleID] ON [dbo].[Users]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkExperiences_UserId]    Script Date: 10/3/2025 12:14:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_WorkExperiences_UserId] ON [dbo].[WorkExperiences]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Status]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CV] ADD  DEFAULT (getdate()) FOR [Birthday]
GO
ALTER TABLE [dbo].[CV] ADD  DEFAULT ((0)) FOR [MinSalary]
GO
ALTER TABLE [dbo].[CV] ADD  DEFAULT ((0)) FOR [MaxSalary]
GO
ALTER TABLE [dbo].[CV] ADD  DEFAULT ((0)) FOR [isDeal]
GO
ALTER TABLE [dbo].[CV] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CV] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[EducationHistory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EducationHistory] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[GroupChat] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GroupChat] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[GroupChatMembers] ADD  DEFAULT ((0)) FOR [IsOwner]
GO
ALTER TABLE [dbo].[GroupChatMembers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GroupChatMembers] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[JobApplications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[JobApplications] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[JobPost] ADD  DEFAULT ((0)) FOR [MinSalary]
GO
ALTER TABLE [dbo].[JobPost] ADD  DEFAULT ((0)) FOR [MaxSalary]
GO
ALTER TABLE [dbo].[JobPost] ADD  DEFAULT (N'False') FOR [Status]
GO
ALTER TABLE [dbo].[JobPost] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[JobPost] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[MajorCode] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MajorCode] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Mentorship] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MessageGroupChat] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MessageGroupChat] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRead]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT ((1)) FOR [ReceiveEmailNotifications]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT ((1)) FOR [ReceiveInAppNotifications]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT ((1)) FOR [JobNotifications]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT ((1)) FOR [MessageNotifications]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NotificationSettings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[PostReports] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PostReports] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((0)) FOR [Views]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((0)) FOR [IsPrivate]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[PrivacySetting] ADD  DEFAULT ((1)) FOR [VisibleToEducationHistory]
GO
ALTER TABLE [dbo].[PrivacySetting] ADD  DEFAULT ((1)) FOR [VisibleToMajor]
GO
ALTER TABLE [dbo].[PrivacySetting] ADD  DEFAULT ((1)) FOR [VisibleToEmail]
GO
ALTER TABLE [dbo].[PrivacySetting] ADD  DEFAULT ((1)) FOR [VisibleToAlumni]
GO
ALTER TABLE [dbo].[PrivacySetting] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PrivacySetting] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[RecruiterInfo] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RecruiterInfo] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Schedule] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Schedule] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[SoicalLink] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SoicalLink] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[SpMajorCode] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SpMajorCode] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TagJob] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TagJob] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserJoinEvent] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserJoinEvent] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [EmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK__Comments__Author__208CD6FA] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK__Comments__Author__208CD6FA]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK__Comments__PostID__1F98B2C1] FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([PostID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK__Comments__PostID__1F98B2C1]
GO
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK__CV__UserID__3D2915A8] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK__CV__UserID__3D2915A8]
GO
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_MajorCode_MajorId] FOREIGN KEY([MajorId])
REFERENCES [dbo].[MajorCode] ([MajorId])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_CV_MajorCode_MajorId]
GO
ALTER TABLE [dbo].[CvSkills]  WITH CHECK ADD  CONSTRAINT [FK_CvSkills_CV_CvId] FOREIGN KEY([CvId])
REFERENCES [dbo].[CV] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CvSkills] CHECK CONSTRAINT [FK_CvSkills_CV_CvId]
GO
ALTER TABLE [dbo].[CvSkills]  WITH CHECK ADD  CONSTRAINT [FK_CvSkills_Skills_SkillId] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([SkillId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CvSkills] CHECK CONSTRAINT [FK_CvSkills_Skills_SkillId]
GO
ALTER TABLE [dbo].[EducationHistory]  WITH CHECK ADD  CONSTRAINT [FK__Education__IDUse__4C6B5938] FOREIGN KEY([IDUser])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[EducationHistory] CHECK CONSTRAINT [FK__Education__IDUse__4C6B5938]
GO
ALTER TABLE [dbo].[Educations]  WITH CHECK ADD  CONSTRAINT [FK_Educations_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Educations] CHECK CONSTRAINT [FK_Educations_Users_UserId]
GO
ALTER TABLE [dbo].[EmploymentHistories]  WITH CHECK ADD  CONSTRAINT [FK_EmploymentHistories_CV_CvId] FOREIGN KEY([CvId])
REFERENCES [dbo].[CV] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmploymentHistories] CHECK CONSTRAINT [FK_EmploymentHistories_CV_CvId]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK__Events__Organize__02084FDA] FOREIGN KEY([OrganizerId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK__Events__Organize__02084FDA]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_MajorCode_MajorId] FOREIGN KEY([MajorId])
REFERENCES [dbo].[MajorCode] ([MajorId])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_MajorCode_MajorId]
GO
ALTER TABLE [dbo].[EventTimeLines]  WITH CHECK ADD  CONSTRAINT [FK_EventTimeLines_Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventTimeLines] CHECK CONSTRAINT [FK_EventTimeLines_Events_EventId]
GO
ALTER TABLE [dbo].[GroupChat]  WITH CHECK ADD  CONSTRAINT [FK__GroupChat__Creat__6C190EBB] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GroupChat] CHECK CONSTRAINT [FK__GroupChat__Creat__6C190EBB]
GO
ALTER TABLE [dbo].[GroupChatMembers]  WITH CHECK ADD  CONSTRAINT [FK__GroupChat__Group__71D1E811] FOREIGN KEY([GroupChatId])
REFERENCES [dbo].[GroupChat] ([Id])
GO
ALTER TABLE [dbo].[GroupChatMembers] CHECK CONSTRAINT [FK__GroupChat__Group__71D1E811]
GO
ALTER TABLE [dbo].[GroupChatMembers]  WITH CHECK ADD  CONSTRAINT [FK__GroupChat__UserI__72C60C4A] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GroupChatMembers] CHECK CONSTRAINT [FK__GroupChat__UserI__72C60C4A]
GO
ALTER TABLE [dbo].[JobApplications]  WITH CHECK ADD  CONSTRAINT [FK__JobApplic__JobPo__46B27FE2] FOREIGN KEY([JobPostID])
REFERENCES [dbo].[JobPost] ([JobPostID])
GO
ALTER TABLE [dbo].[JobApplications] CHECK CONSTRAINT [FK__JobApplic__JobPo__46B27FE2]
GO
ALTER TABLE [dbo].[JobApplications]  WITH CHECK ADD  CONSTRAINT [FK__JobApplica__CVID__47A6A41B] FOREIGN KEY([CVID])
REFERENCES [dbo].[CV] ([Id])
GO
ALTER TABLE [dbo].[JobApplications] CHECK CONSTRAINT [FK__JobApplica__CVID__47A6A41B]
GO
ALTER TABLE [dbo].[JobPost]  WITH CHECK ADD  CONSTRAINT [FK__JobPost__MajorID__31B762FC] FOREIGN KEY([MajorID])
REFERENCES [dbo].[MajorCode] ([MajorId])
GO
ALTER TABLE [dbo].[JobPost] CHECK CONSTRAINT [FK__JobPost__MajorID__31B762FC]
GO
ALTER TABLE [dbo].[JobPost]  WITH CHECK ADD  CONSTRAINT [FK__JobPost__UserID__30C33EC3] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[JobPost] CHECK CONSTRAINT [FK__JobPost__UserID__30C33EC3]
GO
ALTER TABLE [dbo].[JobPostSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobPostSkills_JobPost_JobPostId] FOREIGN KEY([JobPostId])
REFERENCES [dbo].[JobPost] ([JobPostID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobPostSkills] CHECK CONSTRAINT [FK_JobPostSkills_JobPost_JobPostId]
GO
ALTER TABLE [dbo].[JobPostSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobPostSkills_Skills_SkillId] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([SkillId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobPostSkills] CHECK CONSTRAINT [FK_JobPostSkills_Skills_SkillId]
GO
ALTER TABLE [dbo].[Mentorship]  WITH CHECK ADD  CONSTRAINT [FK__Mentorshi__Aumni__60A75C0F] FOREIGN KEY([AumniID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Mentorship] CHECK CONSTRAINT [FK__Mentorshi__Aumni__60A75C0F]
GO
ALTER TABLE [dbo].[MessageGroupChat]  WITH CHECK ADD  CONSTRAINT [FK__MessageGr__Membe__778AC167] FOREIGN KEY([MemberId])
REFERENCES [dbo].[GroupChatMembers] ([ID])
GO
ALTER TABLE [dbo].[MessageGroupChat] CHECK CONSTRAINT [FK__MessageGr__Membe__778AC167]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[NotificationSettings]  WITH CHECK ADD  CONSTRAINT [FK__Notificat__UserI__59C55456] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[NotificationSettings] CHECK CONSTRAINT [FK__Notificat__UserI__59C55456]
GO
ALTER TABLE [dbo].[PostReports]  WITH CHECK ADD  CONSTRAINT [FK__PostRepor__PostI__25518C17] FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([PostID])
GO
ALTER TABLE [dbo].[PostReports] CHECK CONSTRAINT [FK__PostRepor__PostI__25518C17]
GO
ALTER TABLE [dbo].[PostReports]  WITH CHECK ADD  CONSTRAINT [FK__PostRepor__UserI__2645B050] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PostReports] CHECK CONSTRAINT [FK__PostRepor__UserI__2645B050]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK__Posts__AuthorID__18EBB532] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK__Posts__AuthorID__18EBB532]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK__Posts__MajorId__19DFD96B] FOREIGN KEY([MajorId])
REFERENCES [dbo].[MajorCode] ([MajorId])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK__Posts__MajorId__19DFD96B]
GO
ALTER TABLE [dbo].[PrivacySetting]  WITH CHECK ADD  CONSTRAINT [FK__PrivacySe__UserI__625A9A57] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PrivacySetting] CHECK CONSTRAINT [FK__PrivacySe__UserI__625A9A57]
GO
ALTER TABLE [dbo].[RecruiterInfo]  WITH CHECK ADD  CONSTRAINT [FK_RecruiterInfo_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecruiterInfo] CHECK CONSTRAINT [FK_RecruiterInfo_Users_UserID]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK__Schedule__Mentor__66603565] FOREIGN KEY([MentorShipID])
REFERENCES [dbo].[Mentorship] ([ID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK__Schedule__Mentor__66603565]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK__Schedule__Mentor__6754599E] FOREIGN KEY([MentorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK__Schedule__Mentor__6754599E]
GO
ALTER TABLE [dbo].[SoicalLink]  WITH CHECK ADD  CONSTRAINT [FK__SoicalLin__UserI__51300E55] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[SoicalLink] CHECK CONSTRAINT [FK__SoicalLin__UserI__51300E55]
GO
ALTER TABLE [dbo].[SpMajorCode]  WITH CHECK ADD  CONSTRAINT [FK__SpMajorCo__Major__2B0A656D] FOREIGN KEY([MajorId])
REFERENCES [dbo].[MajorCode] ([MajorId])
GO
ALTER TABLE [dbo].[SpMajorCode] CHECK CONSTRAINT [FK__SpMajorCo__Major__2B0A656D]
GO
ALTER TABLE [dbo].[TagJob]  WITH CHECK ADD  CONSTRAINT [FK_TagJob_CV_CvID] FOREIGN KEY([CvID])
REFERENCES [dbo].[CV] ([Id])
GO
ALTER TABLE [dbo].[TagJob] CHECK CONSTRAINT [FK_TagJob_CV_CvID]
GO
ALTER TABLE [dbo].[UserJoinEvent]  WITH CHECK ADD  CONSTRAINT [FK__UserJoinE__Event__0C85DE4D] FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([EventID])
GO
ALTER TABLE [dbo].[UserJoinEvent] CHECK CONSTRAINT [FK__UserJoinE__Event__0C85DE4D]
GO
ALTER TABLE [dbo].[UserJoinEvent]  WITH CHECK ADD  CONSTRAINT [FK__UserJoinE__UserI__0B91BA14] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserJoinEvent] CHECK CONSTRAINT [FK__UserJoinE__UserI__0B91BA14]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__MajorId__5CD6CB2B] FOREIGN KEY([MajorId])
REFERENCES [dbo].[MajorCode] ([MajorId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__MajorId__5CD6CB2B]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__RoleID__5BE2A6F2] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__RoleID__5BE2A6F2]
GO
ALTER TABLE [dbo].[WorkExperiences]  WITH CHECK ADD  CONSTRAINT [FK_WorkExperiences_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkExperiences] CHECK CONSTRAINT [FK_WorkExperiences_Users_UserId]
GO
USE [master]
GO
